.navbar .nav > li > a {
color:#ffffff;
font-weight:bold;
}
.navbar .nav > li > a:hover {
background:none;
}
.navbar .nav > li > a:focus {
background:none;
}
.navbar-toggle .icon-bar {
     color: #ffffff;
    border-color: #ffffff;
    background-color: #ffffff;
}
#mobilemenu {
    margin-right: 40px !important;
    background-color: rgba(16, 16, 16, 0.85) !important;
    position: absolute;
    z-index: 1;
    RIGHT: 0PX;
    padding: 0px 15px;
    text-align: center;
}
#div_topic{
	margin-top:90px;  
   text-align:center;
	color:#ffffff;
	}
#signin_btn{
	margin-top:12px;
	border-radius: 5px;
	font-weight: bold;
	border:none;
}
#header_topic{
	font-weight:bold;
}	
#nav_demo_btn{
	margin-top:12px;
	margin-right:5px;
	border-radius: 5px;
	border-color:#000000;
	font-weight: bold;
	color:#ffffff;
	background-color:#000000;
	border:none;
}
#request_demo_btn{
	
    text-align:center;
	color:#ffffff;
	padding-top: 50px;
}	
#request_btn{
	color:#ffffff;
	border: 2px solid #ffffff;
	border-radius: 22px;
	
}
#request_btn:hover,#request_btn:focus{
	background:none;
	outline: none;
}
#try_btn{
	color:#ffffff;
	border: 2px solid #ffffff;
	border-radius: 22px;
	padding:20px 20px 20px;
	
}
#try_btn:hover{
	background:none;
	outline: none;
}
#try_btn:focus{
	background:none;
	outline: none;
}
#try_btn_div{
	/*top:45%;
    left:38%;*/
	display:inline-block;
	/*position:absolute;*/
    text-align:center;
	color:#ffffff;
	padding:30px 20px 1px 4px;
}

.btn.outline {
    background: none;
    padding: 18px 40px;
}
#defintion_div{
	
	/*height:80px;*/
	text-align:center;
	line-height:80px;
	margin-top:15;
	background-color:#ffffff;
	/*margin-bottom:15; */
}
#defintion_div h3 {
	margin-top:20px;
	margin-bottom:20px;
}

#customer_div{

	border:solid #ffffff;
	display:inline-block;
}
#customer_inner_div{
display:inline-block;
background-color:#000000;
color:#ffffff; 
padding-bottom:60px;
}
#hr_tag{
	width:5%;
	color:#ffffff;
	margin:1px;
}
#links_div a {
	color:#ffffff;
	width:100%;
	display:inline-block;
	font-weight: bold;
	font-size:120%;
}
.no-padding
{
	padding: 0px !important;
}
#contact_us_div{
	background-color:rgb(14,14,15);
	color:#ffffff;
	padding: 35px 0px 27px;
	display: inline-block;

}
#stay_in_touch_div{
	padding:30px;
}
#stay_in_touch_div h3
{
    margin: 0px;
    margin-bottom: 10px;
}
#copy_right{
	/*text-shadow:0.1px 1.3px;*/
	    margin-top: 0px;
}
#copy_right_div{
	background-color:rgb(53,50,50);
	color:#ffffff;
	padding:11px;
}

#features{
	background-color:rgb(30,51,71);
	color:#ffffff;
	padding: 25px 25px 19px;
}
#feature_1,#feature_2,#feature_3,#feature_4{
	padding:30px;
}
.featurs_img{
	height:105px;
	margin:0px auto;
}
.text-center
{
	text-align:center;
}

.feature_h4{
	margin-top: 10px;
    margin-bottom: 10px;
	text-align:center;
}
.feature_p{
	margin: 0 0 10px;
	text-align:center;
	
}
#logo_img{
	width: 123px;
    position: relative;
    top: 4px;
}
#logo_div{
	padding:30px;
}
#email_div {
    position: relative;
    width: 200px;
}

#email {
    width: 194px;
}

#img_btn {
    position: absolute;
    top: -11px;
    right: -4px;
    margin: 3px 0px;
	width:auto;
	height:50px;
	outline:none;
}
.chart {
  position: relative;
  display: inline-block;
  text-align: center;
  padding:68px 46px 57px;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;  
}
.percent {
  display: inline-block;
  line-height:17px;
  z-index: 2;
  margin: 0px auto;
  font-weight: bold;
  font-size: 38px;
  width: 52px;
 /* padding: 20px;*/
  padding-top: 21px;
    padding-bottom: 30px;
}
.span_content{
	
    position: absolute;
    top: 55%;
    width: 100%;
    left: 1.5pc;
    font-size: 16px;
    margin-top: 11px;
   /* font-weight: bold;*/

}
.content_1{
	color:rgb(105,189,69);
}
.content_2{
	color:rgb(63,119,188);
}
.content_3{
	color:rgb(48,84,114);
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
 /* font-size: 1.8em;*/
}
.percent1{
	color:rgb(105,189,69);
}
.percent2{
	color:rgb(63,119,188);
}
.percent3{
	color:rgb(48,84,114);
}
body {
	font-family:'Helvetica',Helvetica;
}
